---
layout: default
permalink: about/
active: about
title: About Us
hero: We believe contemporary architecture should capture the culture and spirit of our land.
h_img: /img/photos/sydoperahouse-resized.jpg
h_alt: Sydney Opera House
h_attr: Photo by Frances Gunn (https://unsplash.com/@francesgunn) / CC0 (https://creativecommons.org/publicdomain/zero/1.0/)
---

<main>
  <nav class="row" id="breadcrumb">
    <ul class="col-xs-12">
      <li><a href="{{ '/' | relative_url }}">Home</a></li>
      <li><a href="{{ '/about/' | relative_url }}" id="current-page">About</a></li>
    </ul>
  </nav>
  <section class="row">
    <section class="col-xs-12 col-md-7">
      <p>Established in 2001, we believe that homes should provide a refuge from the outside world, and that workplaces should have the ability to inspire.</p>
      <p>We make buildings that are sustainable, with durable materials. Because of this, they are highly valued by the community, and serve with integrity for generations.</p>
      <p>We create homes that reflect and celebrate your personalities while nurturing you and your families.</p>
      <p>We believe contemporary Australian residential design should be sophisticated and relaxed. It should respect its climate, sheltering from the sun in summer and from the cold in winter.</p>
      <p>When you first encounter our homes, you will be struck by their impact in the streetscape. Once inside, we respect the importance of creating both a public personality – formal living rooms and studies leading off entrances – and a private sanctuary within.</p>
      <p>We understand that architecture sits within a landscape that creates a sense of place, so we design urban solutions for urban environments.</p>
      <img src="{{ '/img/photos/IndigoSlam-01-resized.jpg' | relative_url }}" alt="The building Indigo Slam" width="1280" height="720">
      <!-- Photograph by Minh Nguyen -->
      <p>We embrace the wilderness when building in the country. We also believe that landscape, environment and interiors are absolutely one and must be considered as one.</p>
      <p>This holistic approach means that when you view ADA buildings from afar or walk within their gardens you feel uplifted. When you enter them, you experience a luxurious sense of space and light which is the architecture expressing itself.</p>
      <p>When you relax in one of our living spaces, among your artwork and furnishings, and view the landscape beyond,  you truly understand what we set out to achieve when we craft a home for you.</p>
    </section>
    <section class="col-xs-12 col-md-5" id="awards">
      <h1>Our awards</h1>
      <ul>
        <li>
          <a href="{{ '/portfolio/residential/2015/08/stokes-house' | relative_url }}">
            <figure>
              <img src="{{ '/img/photos/house1.jpg' | relative_url }}" alt="House">
              <figcaption>
                <h1>Stokes House <small>Randwick</small></h1>
                <p>NSW Excellence in Housing Award 2015</p>
              </figcaption>
            </figure>
          </a>
        </li>
        <li>
          <a href="{{ '/portfolio/residential/2014/11/blues-apartments/' | relative_url }}">
            <figure>
              <img src="{{ '/img/photos/apart1.jpg' | relative_url }}" alt="Apartment">
              <figcaption>
                <h1>Blues Apartments <small>Forestville</small></h1>
                <p>NSW Excellence in Housing Award 2014</p>
              </figcaption>
            </figure>
          </a>
        </li>
        <li>
          <a href="{{ '/portfolio/residential/2012/03/paradise-apartments/' | relative_url }}">
            <figure>
              <img src="{{ '/img/photos/apart2.jpg' | relative_url }}" alt="Apartment">
              <figcaption>
                <h1>The Paradise Apartments <small>Potts Point</small></h1>
                <p>UDIA NSW High Density Award for Excellence 2012</p>
              </figcaption>
            </figure>
          </a>
        </li>
        <li>
          <h1>Beautiful Waters Apartments <small>Coogee</small></h1>
          <p>UDIA National High Density Housing Award for Excellence 2011</p>
        </li>
        <li>
          <h1>Rainier House <small>Putney</small></h1>
          <p>HIA Housing Award 2010</p>
          <p>NSW Excellence in Housing Award 2010</p>
        </li>
        <li>
          <h1>Biltong <small>Elizabeth Bay</small></h1>
          <p>NSW Excellence in Housing Award 2010 (Restoration)</p>
        </li>
        <li>
          <h1>Oscar Apartments Camperdown</h1>
          <p>NSW Excellence in Medium Density Housing Award 2008</p>
        </li>
        <li>
          <h1>Pandara Apartments <small>Potts Point</small></h1>
          <p>UDIA National High Density Housing Award for Excellence 2006/07</p>
          <p>NSW Excellence in Housing Award 2006 (Apartments)</p>
        </li>
        <li>
          <h1>Victoria Street Apartments Kirribilli</h1>
          <p>HIA Housing Award 2004</p>
        </li>
        <li>
          <h1>The Watchhouse <small>Sydney</small></h1>
          <p>NSW Excellence in Housing Award 2001 (Restoration)</p>
        </li>
      </ul>
    </section>
  </section>
</main>
