---
layout: default
active: approach
title: Our Approach
hero: We understand what you want.
permalink: approach/
h_img: "/img/photos/pencils-resized.jpg"
h_alt: Pencils
h_attr: Photo by Joanna Kosinska (https://unsplash.com/@joannakosinska) / CC0 (https://creativecommons.org/publicdomain/zero/1.0/)
---
<main>
  <nav class="row" id="breadcrumb">
    <ul class="col-xs-12">
      <li><a href="{{ '/' | relative_url }}">Home</a></li>
      <li><a href="{{ page.permalink | relative_url }}" id="current-page">{{ page.title }}</a></li>
    </ul>
  </nav>

  <section class="row">
    <section class="col-xs-12 col-md-6">
      <p>Australian Design Architects follows a simple process when designing your project:</p>

      <h1>Schematic design</h1>
      <p>We gain an understanding of your requirements and aspirations, followed by an assessment of the opportunities and constraints offered by the building site. A preliminary of regulations and restrictions is undertaken followed by a number of sketch design options to reach your preferred design.</p> 

      <p>These drawings have a level of detail suitable for obtaining cost estimates at the completion of this stage.</p>

      <h1>Detailed Design Development</h1>
      <p>Depending on the cost outcomes from the first stage, the preferred and approved design is developed into the final design for Development Application (DA) submission to Council. Pre-application meetings are organised with Council and adjoining neighbours to facilitate the planning process and assist in obtaining approval.</p>

      <h1>Construction Documentation</h1>
      <p>The DA is developed into detailed drawings, specifications and schedules to ensure the design vision is not lost during construction. The work is also co-ordinated and integrated with the drawings suitable for the Construction Certificate with Council and tendering for builders.</p>

      <h1>Contract Administration</h1>
      <p>Following the tender process and negotiations with the preferred builder, the construction documentation is developed into Contract documents between you and the builder. The administration of the contract between you and the builder is provided to ensure design quality is maintained throughout the construction process. This stage includes regular site visits, site meetings and certification processes.</p>
    </section>
    <figure class="col-xs-12 col-md-6">
      <img src="{{ '/img/photos/swatches-resized.jpg' | relative_url }}" alt="A colour table">
      <!-- Photo by Markus Spiske (https://unsplash.com/@markusspiske) / CC0 (https://creativecommons.org/publicdomain/zero/1.0/) -->
    </figure>
  </section>
</main>