---
layout: default
active: contact
title: Get in touch
hero: Talk to us today.
permalink: contact/
h_img: "/img/photos/contact-office-resized.jpg"
h_alt: "Our offices in Sydney"
h_attr: Photo by Henry McIntosh (https://unsplash.com/@henrymcintosh) / CC0 (https://creativecommons.org/publicdomain/zero/1.0/)
---
<main>
  <nav class="row" id="breadcrumb">
    <ul class="col-xs-12">
      <li><a href="{{ '/' | relative_url }}">Home</a></li>
      <li><a href="{{ '/contact/' | relative_url }}" id="current-page">{{ page.title }}</a></li>
    </ul>
  </nav>
  <section class="row between-xs">
    <section class="col-xs-12 col-md-6">
      <h1>Contact</h1>
      <p>If you'd like to get in contact with us, please fill out the form and we'll be in touch!</p>
      <form action="{{ '/contact/' | relative_url }}" method="post">
        <p><label for="contact_name">Full Name</label>
          <input type="text" name="contact_name" id="contact_name" placeholder="John Smith">
        </p>
        <p><label for="email">Contact E-mail</label>
          <input type="email" id="email" placeholder="john@smith.com.au">
        </p>
        <p><label for="enquiry_type">Type of Enquiry</label>
          <select name="enquiry_type" id="enquiry_type">
            <option value="none">Select...</option>
            <option value="feedback">Feedback</option>
            <option value="project">Thinking about a project</option>
            <option value="other">Other</option>
          </select>
        </p>
        <p><label for="message">Message</label>
          <textarea name="message" id="message"></textarea>
        </p>
        <p>
          <button type="submit" name="submit" id="form-submit" class="btn">Send Message</button>
        </p>
      </form>
    </section>
    <section id="map" class="col-xs-12 col-md-5">
      <h1>Where we are</h1>
      <address class="row">
        <div class="col-xs-6">
          <p>Australian Design Architects</p>
          <p>300 Sussex St</p>
          <p>Sydney NSW 2000</p>
        </div>
        <div class="col-xs-6">
          <p>1300 975 711</p>
          <p>9am-5pm</p>
        </div>
      </address>
      
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3312.5902172549295!2d151.20209971521038!3d-33.87445018065472!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae3b884d3b15%3A0xe3a0102b1bbff317!2s300+Sussex+St%2C+Sydney+NSW+2000!5e0!3m2!1sen!2sau!4v1478735191955" width="600" height="450"></iframe>
    </section>
  </section>
</main>