---
layout: gallery
active: home
---

<section class="gallery items-3" id="hero" aria-label="Slideshow">
  <div id="item-1" class="control-operator"></div>
  <div id="item-2" class="control-operator"></div>
  <div id="item-3" class="control-operator"></div>

  <figure class="item">
    <img src="{{ '/img/photos/CentralPark-03-resized.jpg' | relative_url }}" alt="A light feature">
    <!-- Photograph provided by Minh Nguyen -->
  </figure>
  <figure class="item">
    <img src="{{ '/img/photos/IndigoSlam-02-resized.jpg' | relative_url }}" alt="A stunning building">
    <!-- Photograph provided by Minh Nguyen -->
  </figure>
  <figure class="item">
    <img src="{{ '/img/photos/UTSBag-01-resized.jpg' | relative_url }}" alt="A building that looks like a paper bag">
    <!-- Photograph provided by Minh Nguyen -->
  </figure>

  <div id="hero-wrapper">
    <div id="hero-text">
      <h1>Australian Design Architects</h1>
      <p>Sydney based, award winning designs.</p>
      <div id="cta-index">
        <a href="{{ '/contact/' | relative_url }}" class="col-xs-12 btn">Talk to us today.</a>
      </div>
    </div>
  </div>

  <div class="controls">
    <a href="#item-1" class="control-button" aria-label="Slide 1">•</a>
    <a href="#item-2" class="control-button" aria-label="Slide 2">•</a>
    <a href="#item-3" class="control-button" aria-label="Slide 3">•</a>
  </div>
</section>

<main>
  <section class="row">
    <div class="col-xs-12 col-md-4">
      <i class="material-icons md-48">location_city</i>
      <h1>Detailed work</h1>
      <p>We specialise in residential and commercial projects of high-quality finish and detail. Our buildings complement the surrounding space and culture, whilst considering the needs of our clients.</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <i class="material-icons md-48">nature_people</i>
      <h1>Sustainable Design</h1>
      <p>We enjoy using unexpected materials that challenge and surprise. We also believe that good architecture and respect for the environment go hand in hand.</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <i class="material-icons md-48">people</i>
      <h1>From Start to Finish</h1>
      <p>Our innovative and inter-disciplinary skill-set and extensive network of suppliers means we can take a project from  draft to construction.</p>
    </div>
  </section>
  <section class="row">
    <p class="col-xs-12">Our team can help you make the right decisions and guide you through the process by bringing our creativity and can-do expertise to the table.</p>
    <p class="col-xs-12">Our work-style is collaborative, open and driven by our passion for good design.</p>
    <p class="col-xs-12">Over the past 20 years our extensive portfolio of residential and commercial projects has been recognised by our peers including the Royal Australian Institute of Architects, the Institute of Interior Designers and the Australian Design Council.</p>
  </section>
</main>
{% include cta.html %}