---
layout: default
title: Legal Information
permalink: legal/
---
<main>
  <nav class="row" id="breadcrumb">
    <ul class="col-xs-12">
      <li><a href="{{ '/' | relative_url }}">Home</a></li>
      <li><a href="{{ page.permalink | relative_url }}" id="current-page">{{ page.title }}</a></li>
    </ul>
  </nav>
  <section class="row">
    <article class="col-xs-12">
      <section>
        <h1>Privacy</h1>
        <p>Information submitted through the online form on this website will be used exclusively for business communications with you.</p>
        <p>We will not on-sell any information that specifically identifies you and/or your contact details without first obtaining your permission.</p>
      </section>
      <section>
        <h1>Liability</h1>
        <p>Information and data within this site may not be reproduced for commercial use or any other use without our express written permission.</p>
        <p>The information presented in this site is correct at the published date and will be updated from time to time. Please check regularly for updates.</p>
        <p>The use of the information contained on this site is at your discretion and is your sole responsibility.</p>
      </section>
      <section>
        <h1>Legal Disclaimer</h1>
        <p>You must gain our prior consent in order to link to the site. We require information from you to permit the hyperlink:</p>
        <ul class="list">
          <li>Your name</li>
          <li>registered address</li>
          <li>telephone number</li>
          <li>e-mail address, and</li>
          <li>the URL where the site is linked to.</li>
        </ul>
        <p>You acknowledge that the content on the site is subject to copyright and possibly other intellectual property rights.</p>
        <p>Unless you are expressly authorised by law, you must not reproduce any content from the site and you must not participate in or permit another person to: sell, reproduce, distribute, modify, display, publicly perform, prepare derivative works, re-post or otherwise use any of the content in any way for any commercial purpose without our prior written consent.</p>
        <p>Our organisation does not accept any responsibility or liability for any claims of damage or risk outside these terms and conditions.</p>
      </section>
    </article>
  </article>
</main>