---
title: Residential
active: portfolio
permalink: portfolio/residential/
layout: default
hero: Our homes are your homes.
h_img: "/img/photos/house4.jpg"
h_alt: A house
h_attr: Photo provided by ADA
---

<main>
  <nav class="row" id="breadcrumb">
    <ul class="col-xs-12">
      <li><a href="{{ '/' | relative_url }}">Home</a></li>
      <li><a href="{{ '/portfolio/' | relative_url }}">Portfolio</a></li>
      <li><a href="{{ page.url | relative_url }}" id="current-page">{{ page.title }}</a></li>
    </ul>
  </nav>
  <section class="row">
    <section class="col-xs-12">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, eos, aliquam facilis distinctio dolorem tenetur fugiat eaque numquam obcaecati perferendis nam velit saepe harum quidem voluptates, officia adipisci et eligendi?</p>
    </section>
  </section>
  <section class="row around-xs" id="portfolio">
    {% assign posts = site.portfolio | where: "category", "Residential" | sort: 'date' | reverse %}
    {% for post in posts %}
    <a href="{{ post.url | relative_url }}" class="col-lg-4 col-md-6 col-xs-12">
      <figure>
          <figcaption>
            <h1>{{ post.title }}</h1>
            <date>{{ post.date | date: '%b %Y' }}</date>
          </figcaption>
          <img src="{{ post.h_img | relative_url }}" alt="{{ post.h_alt }}" width="{{ post.h_x }}" height="{{ post.h_y }}">
          <!-- {{ post.h_attr }} -->
          <section class="row middle-xs">
            <i class="material-icons md-24 col-xs-2">home</i>
            <p class="col-xs-10">{% if post.hero %}{{ post.hero }}{% endif %}</p>
          </section>
      </figure>
    </a>
    {% endfor %}
    </section>
</main>
{% include cta.html %}