---
title: Portfolio
active: portfolio
permalink: portfolio/
layout: default
hero: See examples of our work.
h_img: "/img/photos/gallery.jpg"
h_alt: Photo gallery
h_attr: Photo provided by ADA
---

<main>
  <nav class="row" id="breadcrumb">
    <ul class="col-xs-12">
      <li><a href="{{ '/' | relative_url }}">Home</a></li>
      <li><a href="{{ '/portfolio/' | relative_url }}" id="current-page">{{ page.title }}</a></li>
    </ul>
  </nav>
  <section class="row">
    <section class="col-xs-12">
      <p>At ADA, we specialise in sophisticated and distinctive residential projects, from high quality individual houses to multi-unit apartment developments. Our work encompasses a wide variety of architectural styles ranging from heritage restoration work to innovative contemporary buildings.</p>
      <p>Current commissions include <a href="{{ site.baseurl }}{% link portfolio-residential.html %}">residential</a>, <a href="{{ site.baseurl }}{% link portfolio-commercial.html %}">commercial</a>, maritime, heritage restoration, refurbishment and interior fit-out projects.</p>
    </section>
  </section>
  <section class="row around-xs" id="portfolio">
    {% assign posts = site.portfolio | sort: 'date' | reverse %}
    {% for post in posts %}
    <a href="{{ post.url | relative_url }}" class="col-lg-4 col-md-6 col-xs-12">
      <figure>
          <figcaption>
            <h1>{{ post.title }}</h1>
            <date>{{ post.date | date: '%b %Y' }}</date>
          </figcaption>
          <img src="{{ post.h_img | relative_url }}" alt="{{ post.h_alt }}" width="{{ post.h_x }}" height="{{ post.h_y }}">
          <!-- {{ post.h_attr }} -->
          <section class="row middle-xs">
            <i class="material-icons md-24 col-xs-2">{% if post.category == "Residential" %}home{% endif %}{% if post.category == "Commercial" %}business{% endif %} </i>
            <p class="col-xs-10">{% if post.hero %}{{ post.hero }}{% endif %}</p>
          </section>
      </figure>
    </a>
    {% endfor %}
    </section>
</main>
{% include cta.html %}