/*-----------------------------------*\
  #CRITICAL
\*-----------------------------------*/
@import "../_css/_reset.scss";
@import "../_css/global.scss";
@import "../_css/_rem.scss";

html {
  @include rem-baseline;
  color: $black;
  background: $white;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  @include rem(font-size, 16px);
  line-height: 1.4;
}

body {
  font-family: $fonts-body;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $primary;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

html, body {
  height: 100%;
}

button::-moz-focus-inner {
  border: 0;
}

header nav ul li a {
  border-bottom: 4px solid transparent;
}

// From _navbar.scss
[id="topbar"] {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

/* Logo in header */

[id="logo"] {
  display: block;
  max-width: 1024px;
  height: auto;
}

/* Extra invisible div to centre the ADA logo */
.invisible {
  display: block;
  width: 32px;
  margin: 0.5em 1em;

  @media screen and (min-width: 800px) {
    display: none;
    margin: 0;
    width: 0;
  }
}

header {
  display: block;

  picture > img {
    @include rem(padding, 12px);

    @media screen and (max-width: 799px) {
      max-width: 80px;
      height: auto;
      @include rem(padding, 4px);
    }
  }
}

// FROM _hero.scss
[id="hero"] {
  position: relative;
  height: calc(300px + 12vw);
  background: darken($black, 20%);
  margin-bottom: 1em;

  [id="hero-wrapper"] {
    overflow: hidden;
  }
}

.gallery {
  .item {
    width: 100%;
    height: calc(300px + 12vw);
    object-fit: cover;
    max-width: none;
  }
}

// FROM _navbar.scss
header nav {
  display: block;
  text-align: justify;

  > ul {
    display: flex;
    position: absolute;
    right: 0;
    z-index: 20;
    padding: 0 2em 0 0;

    li {
      display: inline-block;
      @include rem(font-size, 30px);
    }
  }
}