<div class="row">
  <hr class="col-xs-12">
</div>
<section class="row middle-xs" id="cta">
  <section class="col-xs-12">
    <h1>Need a project?</h1>
    <p>If you are interested in commissioning us for your next project, feel free to contact us.</p>
    <a href="{{ site.baseurl }}{% link contact.html %}" class="btn">Let's talk.</a>
  </section>
</section>
<div class="row">
  <hr class="col-xs-12">
</div>