<footer>
  <ul id="notices">
    <li>&copy; 2012, 2016 Australian Design Architects</li>
    <li><a href="{{ '/legal/' | absolute_url }}">Legal</a></li>
    <li><a href="{{ '/contact/' | absolute_url }}">Contact</a></li>
  </ul>
  <ul id="social">
    <li>
      <a href="https://instagram.com/ADA"><img src="{{'/img/icons/instagram-glyph-logo_May2016.png' | absolute_url}}" alt="Instagram" title="Follow us on Instagram!" width="70" height="70"></a>
    </li>
    <li>
      <a href="https://500px.org/ADA"><img src="{{ '/img/icons/500px_mark_light.png' | absolute_url }}" alt="500px" title="Follow us on 500px!" width="70" height="70"></a>
    </li>
  </ul>
</footer>