<div id="skiptocontent">
    <a href="#content">Skip to Content</a>
</div>
<header>
  <div id="topbar">
    <div class="invisible"></div>
    <a href="{{ '/' | absolute_url }}" id="logo">
      <picture>
        <source media="(max-width: 799px)"
                srcset="{{ '/img/ADA_logo.svg' | absolute_url }} 217w"
        type="image/svg+xml" sizes="217px">
        <source media="(max-width: 799px)"
                srcset="{{ '/img/ADA_logo.png' | absolute_url }} 217w"
                sizes="217px">
        <source srcset="{{ '/img/ADA_logo_full.svg' | absolute_url }} 1280w" type="image/svg+xml" sizes="1280px">
        <source srcset="{{ '/img/ADA_logo_full.png' | absolute_url }} 1280w"
                sizes="1280px">
        <img src="{{ '/img/ADA_logo_full.png' | absolute_url }}" alt="Australian Design Architects Logo" title="At ADA, we're all about sustainable design, from concept to construction." width="1618" height="274">
        <!-- Logo by Minh Nguyen -->
      </picture>
    </a>

    <label for="menu-toggle" class="label-toggle">Menu</label>
  </div>
    <input type="checkbox" id="menu-toggle">
    <nav>
      <ul>
        <li><a href="{{ '/' | absolute_url }}" {% if page.active == "home" %}id="active-page"{% endif %}>Home</a></li>
        
        <li><a href="{{ '/approach/' | absolute_url }}" {% if page.active == "approach" %} id="active-page"{% endif %}>Approach</a></li>
        
        <li class="nav-dropdown"><a href="{{ '/portfolio/' | absolute_url }}" {% if page.active == "portfolio" %}id="active-page"{% endif %}>Portfolio <i class="material-icons arrow-down md-24">keyboard_arrow_down</i></a>
          <ul>
            <li><a href="{{ '/portfolio/residential/' | absolute_url }}">Residential</a></li>
            <li><a href="{{ '/portfolio/commercial/' | absolute_url }}">Commercial</a></li>
          </ul>
        </li>
        
        <li><a href="{{ '/about/' | absolute_url }}" {% if page.active == "about" %}id="active-page"{% endif %}>About</a></li>
        
        <li><a href="{{ '/contact/' | absolute_url }}" {% if page.active == "contact" %}id="active-page"{% endif %}>Get in touch</a></li>
      </ul>
    </nav>
</header>