<link href="https://fonts.googleapis.com/css?family=Open+Sans%7CRoboto:700%7CMaterial+Icons" rel="stylesheet" property="stylesheet">
<link rel="stylesheet" href="{{ '/css/flexboxgrid.min.css' | absolute_url }}" property="stylesheet">
<link rel="stylesheet" href="{{ '/css/main.css' | absolute_url }}" property="stylesheet">
<script src="{{ '/js/instantclick.js' | absolute_url }}" data-no-instant></script>
<script src="{{ '/js/fitie.js' | absolute_url }}"></script>
<script data-no-instant>
  InstantClick.init({
    preloadingMode: 100,
    preloadCacheTimeLimit: 30000
  });
</script>