// Contact form
label {
  font-family: $fonts-heading;
  @include rem(font-size, 20px);
  font-weight: bold;
  display: block;
  margin-bottom: 0.2em;
}

button {
  /* This removes the default OS styling, notable on macOS */
  appearance: none;
}

input {
  padding: 0.5rem 1rem;
}

input, select, textarea, button {
  width: 100%;
  @include rem(font-size, 20px);
  @include rem(line-height, 36px);
  margin-bottom: 0.5em;
}

select {
  height: 2em;
}

textarea {
  font-family: $fonts-body;
  resize: vertical;
  height: 5em;
  line-height: 1.1;
}

form {
  p {
    margin-bottom: 0;
  }
}

// Map

[id="map"] {
  padding: 0;
  border-radius: 4px;
  border: 1px solid shade( $white, 10% );

  h1 {
    @include rem(padding-left, 5px);
  }
  
  iframe {
    width: 100%;
    margin: 0;
  }
}

// Map address

address {
  p {
    margin-bottom: 0.1em;
  }
  &.row {
    margin-bottom: 1em;
  }
}

address.row .col-xs-6:last-child {
  text-align: right;
}
