// Call to action styling

hr {
  border-bottom: 1px solid $black;
  width: 100%;
}

// How far the button will spring out, and by how much to push it down when
// it is active
$btn-height: 12px;

.btn {
  text-align: center;
  display: block;
  border: 4px solid $primary;
  color: $primary;
  background: $white;
  font-weight: bold;
  text-transform: uppercase;
  @include rem(margin-top, 0px); // 0px since I dunno what I'm doing
  //height: 3em;
  box-shadow: 0px $btn-height 0px 0px shade($primary, 20%);
  transition: color 0.2s ease,
              background 0.2s ease,
              transform 0.1s ease,
              box-shadow 0.1s ease;

  &:hover, &:focus {
    //border: 4px solid transparent;
    color: $white;
    background: $primary;
  }

  &:active {
    //height: calc( 3em - 8px);
    //@include rem(margin-top, $btn-height);
    box-shadow: 0 0 0 0 shade($primary, 20%);
    color: $white;
    background: $primary;
    transform: (translate(0, $btn-height));
  }
}

// CTA on index page
[id="cta-index"] a {
  width: calc( 400px + 3vw );
  font-size: calc( 18px + 1vw );
  margin-top: 1em;
  padding: calc( 0.1em + 1vw );
  color: $white;
  background: transparent;
  box-shadow: 0px $btn-height 0px 0px shade($white, 20%);
  border-color: $white;
}

// CTA in post listings
[id="cta"] {
  @include rem(height, 500px);
  text-align: center;

  h1 {
    @include rem(font-size, 48px);
  }

  p {
    @include rem(font-size, 24px);
    margin-bottom: 0; 
  }

  .btn {
    margin: 0 auto;
    padding: 0.5em 0;
    width: calc( 150px + 30vw;
    @include rem(margin-top, 32px);
    @include rem(font-size, 32px);

    &:active {
      transform: (translate(0, $btn-height));
    }
  }
}