body footer {
  background: $black;
  color: $white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  
  ul {
    display: block;
    padding: 2em 1.2em;
    @include rem(font-size, 24px);

    &[id="notices"] {
      max-width: 810px;
    }

    li {
      @include rem(margin-top, 12px);
    }

    @include min-bp-large {
      width: 810px;
      display: inline-flex;
      font-size: inherit;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-end;

      li {
        margin: 0;
      }
    }
  }
  
  a {
    color: $white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

[id="social"] {
      width: 200px;
      margin-right: 0;
      display: inline-flex;
      flex-flow: row wrap;
      justify-content: space-between;
      
      img {
        max-width: 70px;
        height: auto;
      }
    }