/*-----------------------------------*\
  #GLOBAL
\*-----------------------------------*/

// Colours

$primary:         #53933e;
$accent:          #f3f9d2;
$secondary:       #db5461;
$white:           #fafafa;
$black:   darken( #93827f, 20% );

// fonts and sizes

$fonts-body: ("Open Sans", Arial, sans-serif);
$fonts-heading: (Roboto, Calibri, Arial, sans-serif);