[id="hero"] {

  img {
    width: 100vw;
    height: calc(300px + 12vw);
    object-fit: cover;
    max-width: 100%;
    opacity: 0.4;
    display: block;
  }

  [id="hero-wrapper"] {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  [id="hero-text"] {
    width: 80%;
    display: block;
    color: $white;
    h1 {
      font-size: calc(24px + 2vw);
      margin-bottom: 0;
    }

    p {
      font-size: calc(16px + 2vw);
      margin-bottom: 0;
    }
  }
}

.gallery {
  background: darken($black, 20%);
}