/*-----------------------------------*\
  #MIXINS
\*-----------------------------------*/

%auto-centre {
  margin: 0 auto;
}

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}


// @include min-bp-large
// 1280px / 16px (base font) = 80em
@mixin min-bp-large {
  @media only screen and (min-width: 80em) {
    @content;
  }
}

// ( 1280px - 1px ) / 16px = 79.9375em
@mixin max-bp-large {
  @media only screen and (max-width: 79.9375em) {
    @content;
  }
}

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}