// Hide the extra dropdown menu on mobile, show on desktop
i.arrow-down {
  display: none;
  
  @include min-bp-large {
    display: inline-block;
  }
}

header nav {  
  @include min-bp-large {
    margin-right: 1em;
    margin-left: auto;
  }
  
  > ul {
    flex-flow: row nowrap;
    justify-content: space-around;
    background: rgba( $white, 0.9 );
    transition: opacity 0.2s;
    border: 1px solid darken($white, 20%);

    a {
      border-bottom: 4px solid transparent;
      transition: border-bottom-color 0.2s;
      padding: 0 1em;
      display: block;
      width: 6em;
      text-align: center;
      
       @include max-bp-large {
        display: block;
        width: 100%;
        @include rem(padding-top, 16px);
        @include rem(padding-bottom, 16px);
      }
      
      &:hover {
        border-bottom: 4px solid tint($primary, 20%);
      }
      
      &[id="active-page"] {
        border-bottom: 4px solid lighten($primary, 0%);
      }
    }
    
    @include max-bp-large {
      width: calc(200px + 10vw);
      opacity: 0;
      padding: 0;
      display: none;  
    }
    
    li {
      @include max-bp-large {
        padding: 0;
        min-width: 6em;
        width: 100%;
      }

    }

    @include min-bp-large {
      max-width: 90vw;
    }
  }
  
  > ul {
    
    a {
      @include min-bp-large {
         padding: 0;
      }
    }

    @include max-bp-large {
      display: none;
    }

    > li ul {
      
      @include min-bp-large {
        position: absolute;
        background: rgba($accent, 0.8);
        display: inline-block;
        top: -500px;
        z-index: 10;
        border-radius: 0 0 4px 4px;
      }

      li {
        display: block;
      }
    }


    // Submenus
    // Intent: Hover menus should only activate after getting wide enough, otherwise display it in full
    @include min-bp-large {
      ul {
        //display: none;
        opacity: 0;
        transition: opacity 0.2s;
      }

      li:hover > ul {
        //display: block;
        top: auto;
        //margin-top: 4px;
        opacity: 1;
      }
    }
  }
  
  li {
    display: inline-block;
    //text-transform: uppercase;
  }
  
  a {
    color: #000;
    text-decoration: none;
  }
}

[id="menu-toggle"], label-toggle {
  display: none;
}

@include max-bp-large {
  #menu-toggle:checked ~ nav ul {
    opacity: 1;
    display: block;
    
    //min-height: 100%;
    > li ul {
      height: auto;
      display: block;
      @include max-bp-large {
        background: rgba($accent, 0.8);
      }
    }
  }
}

.label-toggle {
  background: linear-gradient(to bottom, #000 0%, #000 10%, transparent 10%, transparent 20%, #000 20%, #000 30%, transparent 30%, transparent 40%, #000 40%, #000 50%, transparent 50%, transparent 100%); //Gradient Hamburger
  font-weight: normal;
  text-transform: uppercase;
  color: #000;
  @include rem(font-size, 16px);
  text-align: center;
  cursor: pointer;
  display: block;
  //float: right;
  height: 64px;
  width: 48px;
  padding-top: 32px;
  margin: 1em 1em 0.5em;

  @include min-bp-large {
    display: none;
  }
}