// Things in the portfolio page
[id="portfolio"] {
  a {
    color: $black;
  }

  figure {
    border: 1px solid darken( $white, 10% );
    padding: 0;
    border-radius: 16px;
    transition: border 0.2s ease;
    margin-top: 12px;

    &:hover, &:active {
      border: 1px solid darken( $white, 30% );

      img {
        opacity: 1;
      }
    }

    img {
      display: block;
      width: 100%;
      height: 50vh;
      object-fit: cover;
      max-width: none;
      opacity: 0.8;
      transition: opacity 0.2s ease;
      border-top: 1px solid darken( $white, 30% );
      border-bottom: 1px solid darken( $white, 30% );

      @include min-bp-large {
        @include rem(height, 400px);
      }
    }

    figcaption {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      padding: 12px 16px 8px;
    }

    p {
      //padding: 6px 12px 4px;
      margin-bottom: 0;
    }

    figcaption *, p {
      font-family: $fonts-body;
      font-weight: normal;
      @include rem(font-size, 16px);
      display: block;
    }

    h1, p {
      text-align: left;
    }

    date {
      text-align: right;
    }

    .material-icons {
      display: inline-block;
    }
  }
}

[id="portfolio-page"] figure {
  overflow: hidden;

  img {
    width: 100%;
    max-width: none;
    min-height: 40vmin;
    max-height: 50vmin;
    object-fit: cover;
  }
}