/**
 * CONTENTS
 * 
 * SETTINGS
 * Global................Globally available variables and config
 * 
 * TOOLS
 * Mixins................Useful snippets of text
 * 
 * GENERIC
 * Reset.css.............Let us set things up our way
 *
 * BASE
 * Headings..............H1-H3 styles
 * 
 * OBJECTS
 * Wrappers..............Wrapping/Constraining elements
 * Nonces................Things I don't know how to categorise
 * 
 * COMPONENTS
 * Page-head.............Main page header
 * Page-foot.............Main page footer
 * 
 * CRITICAL..............Rules that must be loaded first before external CSS
 */

/*-----------------------------------*\
  #SETTINGS
\*-----------------------------------*/

@import "_global.scss";





/*-----------------------------------*\
  #TOOLS
\*-----------------------------------*/

@import "_mixins.scss";
@import "_rem.scss";






/*-----------------------------------*\
  #GENERIC
\*-----------------------------------*/






/*-----------------------------------*\
  #BASE
\*-----------------------------------*/

h1, h2, h3, h4, h5, h6 {
  font-family: $fonts-heading;
  font-weight: bold;
  margin-bottom: 0.5em;
}

h1 {
  @include rem(font-size, 24px);
}

h2 {
  @include rem(font-size, 20px);
}

h3 {
  @include rem(font-size, 18px);
}

p {
  margin-bottom: 1em;
}

i.material-icons {
  display: block;
}





/*-----------------------------------*\
  #OBJECTS
\*-----------------------------------*/

[id="wrapper"] {
  @extend %auto-centre;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

[id="inner-wrapper"] {
  flex: 1;
}

[id="skiptocontent"] {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}

// Images in the about us page
[id="awards"] {
  a {
    color: $black;
    opacity: 0.8;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 1;
    }
  }

  img {
    width: 100%;
    @include rem(height, 100px);
    object-fit: cover;
    max-width: none;
    border-radius: 8px;
  }

  li {
    h1 {
      font-family: $fonts-body;
      font-weight: normal;
      @include rem(font-size, 16px);
      margin-bottom: 0.2em;
    }

    p {
      font-family: $fonts-heading;
      font-weight: bold;
      @include rem(font-size, 20px);
      line-height: 1.1;
      margin-bottom: 0.5em;
    }
  }
}

@import "_hero.scss";

@import "_portfolio.scss";

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }






/*-----------------------------------*\
  #COMPONENTS
\*-----------------------------------*/

[id="breadcrumb"] {
  display: block;
  margin-bottom: 1em;

  a {
    color: $primary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    // Breadcrumb current page
    &[id="current-page"] {
      color: $black;
    }
  }

  ul > li {
    list-style: none;
    display: inline-block;

    &:not(:last-child)::after {
      content: " / ";
    }
  }
}

@import "_navbar.scss";

main {
  @include rem(padding, 16px);
  
  .material-icons {
    color: $primary;
    text-align: center;
    padding: 0.5em;
  }
  
  &.row {
    margin: 0;
  }

  ul.list {
    list-style: disc;
    margin-left: 2em;
    margin-bottom: 1em;
  }
}

.row {
  max-width: 1152px;
  @extend %auto-centre;
}

.center-xs > * {
  text-align: left;
}

@import "_contact.scss";

@import "_footer.scss";

@import "_cta.scss"; 

#instantclick-bar {
  background: $primary;
}

[id="content"] section:not([id="portfolio"]) img {
  border: 1px solid darken( $white, 30% ); 
  border-radius: 8px;
}