<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    
    <div id="wrapper">
        {% include header.html %}
        
        <div id="inner-wrapper">
          <section id="hero">
            {% if page.h_img %}<img src="{{ page.h_img | absolute_url }}" alt="{{ page.h_alt }}">
            <!-- {{ page.h_attr }} -->{% endif %}
            <div id="hero-wrapper">
              <div id="hero-text">
                {% if page.title %}<h1>{{ page.title }}</h1>{% endif %}
                {% if page.hero %}<p>{{ page.hero }}</p>{% endif %}
              </div>
            </div>
          </section>

          <div id="content">{{ content }}</div>
        </div>
        
        {% include footer.html %}
    </div>
    {% include stylesjs.html %}
  </body>

</html>
