<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    
    <div id="wrapper">
        {% include header.html %}
        
        <div id="inner-wrapper">
          <div id="content">{{ content }}</div>
        </div>
                
        {% include footer.html %}
    </div>
    <link rel="stylesheet" href="{{'/css/gallery.prefixed.css' | absolute_url }}" property="stylesheet">
    {% include stylesjs.html %}
    
    
  </body>

</html>
