<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    
    <div id="wrapper">
        {% include header.html %}
        
        <div id="inner-wrapper">
          <div id="content">
            {% if page.h_img %}
            <section id="hero">
              <img src="{{ page.h_img | absolute_url }}" alt="{{ page.h_alt }}">
              <!-- {{ page.h_attr }} -->
              <div id="hero-wrapper">
                <div id="hero-text">
                  {% if page.title %}<h1>{{ page.title }}</h1>{% endif %}
                  {% if page.hero %}<p>{{ page.hero }}</p>{% endif %}
                </div>
              </div>
            </section>
            {% endif %}
            <main id="portfolio-page">
              <nav class="row" id="breadcrumb">
                <ul class="col-xs-12">
                  <li><a href="{{ '/' | absolute_url }}">Home</a></li>
                  <li><a href="{{ '/portfolio/' | absolute_url }}">Portfolio</a></li>
                  <li><a href="{{ '/portfolio/' | absolute_url }}{{ page.category | slugify }}">{{ page.category }}</a></li>
                  <li><a href="{{ page.permalink | absolute_url }}" id="current-page">{{ page.title }}</a></li>
                </ul>
              </nav>
              {{ content }}
            </main>
            {% include cta.html %}</div>

        </div>
        
        {% include footer.html %}
    </div>
    {% include stylesjs.html %}
  </body>

</html>
